<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fise.iot.mapper.DeviceLogMapper">
  <resultMap id="BaseResultMap" type="com.fise.iot.model.DeviceLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_key" jdbcType="VARCHAR" property="productKey" />
    <result column="message_id" jdbcType="VARCHAR" property="messageId" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="status_desc" jdbcType="VARCHAR" property="statusDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  	<select id="queryList" resultMap="BaseResultMap">
		SELECT * from device_log where 1=1
		<if test="null != deviceLog.deviceName"> and locate(#{deviceLog.deviceName}, device_name) > 0</if>
		<if test="null != deviceLog.detail"> and locate(#{deviceLog.detail}, detail) > 0</if>
		<if test="null != deviceLog.productKey"> and product_key = #{deviceLog.productKey}</if>
		order by create_time desc
	</select>
  
</mapper>